In [2]:
import pandas as pd

In [11]:
df = pd.read_csv('../Panda/datasets_Placement_Data_Full_Class.csv')

#  How to print all columns from dataframe?

In [12]:
df.columns

Index(['sl_no', 'gender', 'ssc_p', 'ssc_b', 'hsc_p', 'hsc_b', 'hsc_s',
       'degree_p', 'degree_t', 'workex', 'etest_p', 'specialisation', 'mba_p',
       'status', 'salary'],
      dtype='object')

# How to select only first two rows from dataframe ?

In [13]:
df.head(2)

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
1,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0

# How to select Unique values for a column  gender from Dataframe ?

In [28]:
genders = df['gender']
print(type(genders))
unique_genders = pd.unique(genders)
print(unique_genders)

<class 'pandas.core.series.Series'>
['M' 'F']

In [29]:
my_series = pd.unique(df['gender'])
print(my_series)
print(type(my_series))

['M' 'F']
<class 'numpy.ndarray'>

In [30]:
len(pd.unique(df['gender']))

2